@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#border {
  border-left: 4px solid #969696;
  border-top: 4px solid #c8c8c8;
  border-right: 4px solid #c8c8c8;
  border-bottom: 4px solid #969696;
  padding: 4px;
}
#border-np {
  border-left: 4px solid #969696;
  border-top: 4px solid #c8c8c8;
  border-right: 4px solid #c8c8c8;
  border-bottom: 4px solid #969696;
}
#border-s {
  border-left: 2px solid #969696;
  border-top: 2px solid #c8c8c8;
  border-right: 2px solid #c8c8c8;
  border-bottom: 2px solid #969696;
  padding: 2px;
}

#border-g {
  border-left: 2px solid #50aa1e;
  border-top: 2px solid #64be32;
  border-right: 2px solid #50aa1e;
  border-bottom: 2px solid #64be32;
}

#border-r {
  border-left: 2px solid #961e1e;
  border-top: 2px solid #aa3232;
  border-right: 2px solid #aa3232;
  border-bottom: 2px solid #961e1e;
}

div {
  background-color: #bababa;
}

html,
body {
  overflow-y: hidden;
  height: 100%;
}
@keyframes roll {
  from {
    transform: translate(-100px, 0px);
  }
  to {
    transform: translate(0px, 0px);
  }
}
